# Replace this value with the MongoDB Atlas connection string for your cluster.
MONGODB_URI=mongodb+srv://webexcodesolutions_db_user:7Uj8xk6J4kxm2EGC@project.u59qf8x.mongodb.net/?appName=extrovatesolutionsllp

# mongodb+srv://webexcodesolutions_db_user:7Uj8xk6J4kxm2EGC@project.u59qf8x.mongodb.net/?appName=extrovatesolutionsllp
