@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #123a54;
  --primary-foreground: #ffffff;

  --secondary: #c6a128;
  --secondary-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: #171717;

  --muted: #f8f8f8;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;

  --primary: #123a54;
  --primary-foreground: #ffffff;

  --secondary: #c6a128;
  --secondary-foreground: #ffffff;

  --card: #1f2937;
  --card-foreground: #f9fafb;

  --muted: #374151;
  --muted-foreground: #d1d5db;

  --border: #374151;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);

  /* Default Font */
  --font-sans: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
